# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User
*out*
opt
reopt
optimize
energies
Makefile*
energystats
coord
optCoord
analyze
comp
match
potential
core
.dep
getxyz
ico-subgraph
apps/app-N14
apps/app-bondvariance
apps/app-Nc
apps/app-shortestbond
apps/app-GN
apps/app-allNx
apps/app-subgraph
